<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPersonAddressLabel" jhiTranslate="dentistApplicationApp.personAddress.home.createOrEditLabel">Create or edit a Person Address</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!personAddress.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="personAddress.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.personAddress.logradouro" for="field_logradouro">Logradouro</label>
            <input type="text" class="form-control" name="logradouro" id="field_logradouro"
                [(ngModel)]="personAddress.logradouro"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.personAddress.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="personAddress.address"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.personAddress.number" for="field_number">Number</label>
            <input type="text" class="form-control" name="number" id="field_number"
                [(ngModel)]="personAddress.number"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.personAddress.state" for="field_state">State</label>
            <select class="form-control" name="state" [(ngModel)]="personAddress.state" id="field_state" >
                <option value="AC">{{'dentistApplicationApp.BrazilianStates.AC' | translate}}</option>
                <option value="AL">{{'dentistApplicationApp.BrazilianStates.AL' | translate}}</option>
                <option value="AM">{{'dentistApplicationApp.BrazilianStates.AM' | translate}}</option>
                <option value="AP">{{'dentistApplicationApp.BrazilianStates.AP' | translate}}</option>
                <option value="BA">{{'dentistApplicationApp.BrazilianStates.BA' | translate}}</option>
                <option value="CE">{{'dentistApplicationApp.BrazilianStates.CE' | translate}}</option>
                <option value="DF">{{'dentistApplicationApp.BrazilianStates.DF' | translate}}</option>
                <option value="ES">{{'dentistApplicationApp.BrazilianStates.ES' | translate}}</option>
                <option value="GO">{{'dentistApplicationApp.BrazilianStates.GO' | translate}}</option>
                <option value="MA">{{'dentistApplicationApp.BrazilianStates.MA' | translate}}</option>
                <option value="MG">{{'dentistApplicationApp.BrazilianStates.MG' | translate}}</option>
                <option value="MS">{{'dentistApplicationApp.BrazilianStates.MS' | translate}}</option>
                <option value="MT">{{'dentistApplicationApp.BrazilianStates.MT' | translate}}</option>
                <option value="PA">{{'dentistApplicationApp.BrazilianStates.PA' | translate}}</option>
                <option value="PB">{{'dentistApplicationApp.BrazilianStates.PB' | translate}}</option>
                <option value="PE">{{'dentistApplicationApp.BrazilianStates.PE' | translate}}</option>
                <option value="PI">{{'dentistApplicationApp.BrazilianStates.PI' | translate}}</option>
                <option value="PR">{{'dentistApplicationApp.BrazilianStates.PR' | translate}}</option>
                <option value="RJ">{{'dentistApplicationApp.BrazilianStates.RJ' | translate}}</option>
                <option value="RN">{{'dentistApplicationApp.BrazilianStates.RN' | translate}}</option>
                <option value="RO">{{'dentistApplicationApp.BrazilianStates.RO' | translate}}</option>
                <option value="RR">{{'dentistApplicationApp.BrazilianStates.RR' | translate}}</option>
                <option value="RS">{{'dentistApplicationApp.BrazilianStates.RS' | translate}}</option>
                <option value="SC">{{'dentistApplicationApp.BrazilianStates.SC' | translate}}</option>
                <option value="SE">{{'dentistApplicationApp.BrazilianStates.SE' | translate}}</option>
                <option value="SP">{{'dentistApplicationApp.BrazilianStates.SP' | translate}}</option>
                <option value="TO">{{'dentistApplicationApp.BrazilianStates.TO' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.personAddress.city" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                [(ngModel)]="personAddress.city"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.personAddress.neighborhood" for="field_neighborhood">Neighborhood</label>
            <input type="text" class="form-control" name="neighborhood" id="field_neighborhood"
                [(ngModel)]="personAddress.neighborhood"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.personAddress.complement" for="field_complement">Complement</label>
            <input type="text" class="form-control" name="complement" id="field_complement"
                [(ngModel)]="personAddress.complement"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.personAddress.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="personAddress.type" id="field_type" >
                <option value="COMMERCIAL">{{'dentistApplicationApp.LogradouroType.COMMERCIAL' | translate}}</option>
                <option value="PERSONAL">{{'dentistApplicationApp.LogradouroType.PERSONAL' | translate}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.personAddress.person" for="field_person">Person</label>
            <select class="form-control" id="field_person" name="person" [(ngModel)]="personAddress.personId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.fullName}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
