<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAppointmentItemLabel" jhiTranslate="dentistApplicationApp.appointmentItem.home.createOrEditLabel">Create or edit a Appointment Item</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!appointmentItem.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="appointmentItem.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.appointmentItem.item" for="field_item">Item</label>
            <input type="text" class="form-control" name="item" id="field_item"
                [(ngModel)]="appointmentItem.item"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.appointmentItem.appointment" for="field_appointment">Appointment</label>
            <select class="form-control" id="field_appointment" name="appointment" [(ngModel)]="appointmentItem.appointmentId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="appointmentOption.id" *ngFor="let appointmentOption of appointments; trackBy: trackAppointmentById">{{appointmentOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.appointmentItem.procedure" for="field_procedure">Procedure</label>
            <select class="form-control" id="field_procedure" name="procedure" [(ngModel)]="appointmentItem.procedureId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="procedureOption.id" *ngFor="let procedureOption of procedures; trackBy: trackProcedureById">{{procedureOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
