<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPersonLabel" jhiTranslate="dentistApplicationApp.person.home.createOrEditLabel">Create or edit a Person</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!person.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="person.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.person.fullName" for="field_fullName">Full Name</label>
            <input type="text" class="form-control" name="fullName" id="field_fullName"
                [(ngModel)]="person.fullName" required />
            <div [hidden]="!(editForm.controls.fullName?.dirty && editForm.controls.fullName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fullName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dentistApplicationApp.person.isEmployee" for="field_isEmployee">Is Employee</label>
                    <input type="checkbox" class="form-control" name="isEmployee" id="field_isEmployee"
                           [(ngModel)]="person.isEmployee"  />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dentistApplicationApp.person.isDentist" for="field_isDentist">Is Dentist</label>
                    <input type="checkbox" class="form-control" name="isDentist" id="field_isDentist"
                           [(ngModel)]="person.isDentist"  />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dentistApplicationApp.person.isPatient" for="field_isPatient">Is Patient</label>
                    <input type="checkbox" class="form-control" name="isPatient" id="field_isPatient"
                           [(ngModel)]="person.isPatient"  />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.person.phone1" for="field_phone1">Phone 1</label>
            <input type="text" class="form-control" name="phone1" id="field_phone1"
                [(ngModel)]="person.phone1"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.person.phone2" for="field_phone2">Phone 2</label>
            <input type="text" class="form-control" name="phone2" id="field_phone2"
                [(ngModel)]="person.phone2"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.person.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="person.email"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.person.cpf" for="field_cpf">Cpf</label>
            <input type="text" name="cpf" id="field_cpf"
                [(ngModel)]="person.cpf" (blur)="validateCPF()" class="form-control"/>
        </div>
        <div *ngIf="person.isEmployee || person.isDentist" class="form-control">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.person.hireDate" for="field_hireDate">Hire Date</label>
            <div class="d-flex">
                <input id="field_hireDate" type="datetime-local"
                       class="form-control" name="hireDate"
                       [(ngModel)]="person.hireDate" />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
