<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFinancialMoveLabel" jhiTranslate="dentistApplicationApp.financialMove.home.createOrEditLabel">Create or edit a Financial Move</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!financialMove.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="financialMove.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.financialMove.previouBalance" for="field_previouBalance">Previou Balance</label>
            <input type="number" class="form-control" name="previouBalance" id="field_previouBalance"
                [(ngModel)]="financialMove.previouBalance"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.financialMove.currentBalance" for="field_currentBalance">Current Balance</label>
            <input type="number" class="form-control" name="currentBalance" id="field_currentBalance"
                [(ngModel)]="financialMove.currentBalance"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.financialMove.moveDate" for="field_moveDate">Move Date</label>
            <div class="d-flex">
                <input id="field_moveDate" type="datetime-local" class="form-control" name="moveDate" [(ngModel)]="financialMove.moveDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.financialMove.observation" for="field_observation">Observation</label>
            <input type="text" class="form-control" name="observation" id="field_observation"
                [(ngModel)]="financialMove.observation"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
