
<div *ngIf="appointment">
    <h2><span jhiTranslate="dentistApplicationApp.appointment.detail.title">Appointment</span> {{appointment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dentistApplicationApp.appointment.appointmentDate">Appointment Date</span></dt>
        <dd>
            <span>{{appointment.appointmentDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="dentistApplicationApp.appointment.paymentMethod">Payment Method</span></dt>
        <dd>
            <div *ngIf="appointment.paymentMethodId">
                <a [routerLink]="['/payment-method-my-suffix', appointment.paymentMethodId]">{{appointment.paymentMethodId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="dentistApplicationApp.appointment.financialMove">Financial Move</span></dt>
        <dd>
            <div *ngIf="appointment.financialMoveId">
                <a [routerLink]="['/financial-move-my-suffix', appointment.financialMoveId]">{{appointment.financialMoveId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="dentistApplicationApp.appointment.appointment">Appointment</span></dt>
        <dd>
            <div *ngIf="appointment.appointmentId">
                <a [routerLink]="['/appointment-item-my-suffix', appointment.appointmentId]">{{appointment.appointmentId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'appointment-my-suffix/'+ appointment.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
