<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAppointmentLabel" jhiTranslate="dentistApplicationApp.appointment.home.createOrEditLabel">Create or edit a Appointment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!appointment.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="appointment.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.appointment.appointmentDate" for="field_appointmentDate">Appointment Date</label>
            <div class="d-flex">
                <input id="field_appointmentDate" type="datetime-local" class="form-control" name="appointmentDate" [(ngModel)]="appointment.appointmentDate"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.appointment.paymentMethod" for="field_paymentMethod">Payment Method</label>
            <select class="form-control" id="field_paymentMethod" name="paymentMethod" [(ngModel)]="appointment.paymentMethodId">
                <option [ngValue]="null"></option>
                <option [ngValue]="paymentMethodOption.id" *ngFor="let paymentMethodOption of paymentmethods; trackBy: trackPaymentMethodById">{{paymentMethodOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.appointment.financialMove" for="field_financialMove">Financial Move</label>
            <select class="form-control" id="field_financialMove" name="financialMove" [(ngModel)]="appointment.financialMoveId">
                <option [ngValue]="null"></option>
                <option [ngValue]="financialMoveOption.id" *ngFor="let financialMoveOption of financialmoves; trackBy: trackFinancialMoveById">{{financialMoveOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.appointment.dentist" for="field_dentist">Dentist</label>
            <select class="form-control" id="field_dentist" name="dentist" [(ngModel)]="appointment.dentistId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.fullName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.appointment.patient" for="field_patient">Patient</label>
            <select class="form-control" id="field_patient" name="patient" [(ngModel)]="appointment.patientId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.fullName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dentistApplicationApp.appointment.employee" for="field_employee">Employee</label>
            <select class="form-control" id="field_employee" name="employee" [(ngModel)]="appointment.employeeId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.fullName}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
